body {
    display: flex;
    flex-direction: column;
}

.welcome {
    height: 100vh;
    background-image: url(../Img/ARC_Website_Content_Study_Groups.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.welcome .logbtn button {
    margin: 10px;
    border-radius: 25px;
    font-size: 25px;
    flex-basis: 10%;
    padding: 10px;
}

.welcome .logbtn {
    padding-left: 90%;
}

.welcome .welcometext {
    flex-basis: 90%;
    padding-top:20vh ;
}

.welcome .welcometext h1{
    color: #fff;
    font-size: 5rem;
}

.welcome .welcometext p {
    color: #fff;
    font-size: 4rem;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features h2 {
    font-size: 4rem;
}

.features .fea-display {
    display: flex;
}



