:root {
    --primarybg-color: #ffffff;
    --secondarybg-color: #f0f0f0;
    --text-color: #353535;
    --buttons-color: #284b63;
    --effects-color: #3c6e71;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body {
    min-height: 100vh;
    background-image: url(../Img/pexels-diva-29294160.jpg);
    background-size: cover;
    background-position: right;
    overflow: hidden;
}

.wrapper {
    box-sizing: border-box;
    background-color: var(--secondarybg-color);
    height: 100vh;
    width: max(40%,600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
}

form {
    width: min(400px,100%);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--buttons-color);
    fill: var(--secondarybg-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    box-sizing: border-box;
    width: 300px;
    min-width: 0;
    height: 50px;
    padding: 1em;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--primarybg-color);
    border-left: none;
    background-color: var(--primarybg-color);
    transition: 150ms ease;
}

form input:hover {
    border-color: var(--effects-color);
}

form input:focus {
    outline: none;
    border-color: var(--effects-color);
}

div:has(input:focus) > label {
    background-color: var(--effects-color);
}

form input::placeholder {
    color: var(--text-color);
}

form button {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: 0.85em 4em;
    background-color: var(--buttons-color);
    color: var(--primarybg-color);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}

form button:hover {
    background-color: var(--effects-color);
}

form button:focus {
    outline: none;
    background-color: var(--effects-color);
}

form div.incorrect label {
    background-color: #ff4444;
}

form div.incorrect input , form div.incorrect select{
    border-color: #ff4444;
}

form select {
    box-sizing: border-box;
    width: 300px;
    min-width: 0;
    height: 50px;
    padding: 1em;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--primarybg-color);
    border-left: none;
    background-color: var(--primarybg-color);
    transition: 150ms ease;
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Remove default arrow for Safari */
    -moz-appearance: none; /* Remove default arrow for Firefox */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23535353"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

form select:hover {
    border-color: var(--effects-color);
}

form select:focus {
    outline: none;
    border-color: var(--effects-color);
}

div:has(select:focus) > label {
    background-color: var(--effects-color);
}


#error-message {
    color: #ff4444;
}

h3 {
    color: var(--text-color);
    text-align: center;
    margin: 30px 10px;
    font-weight: 500;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials li {
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--buttons-color);
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

.socials li:hover {
    background-color: var(--effects-color);
}

.socials li svg {
    transform: scale(0.5);
    filter: invert(1);
}

#socials {
    width: min(400px,100%);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#submit-btn a {
    text-decoration: none;
    color: var(--primarybg-color);
}

